<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>167468065470-se6pt57jvucemte8o6rkav57m207t5ko.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.167468065470-se6pt57jvucemte8o6rkav57m207t5ko</string>
	<key>API_KEY</key>
	<string>AIzaSyCKK12WruaB9jS_nV0SjWWtcHCgAZ_8Cf4</string>
	<key>GCM_SENDER_ID</key>
	<string>167468065470</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.doctorcare</string>
	<key>PROJECT_ID</key>
	<string>doctor-care-498d5</string>
	<key>STORAGE_BUCKET</key>
	<string>doctor-care-498d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:167468065470:ios:09717ebd2d0f5b6ef234ef</string>
</dict>
</plist>